@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Habibi&display=swap");
body {
  background-color: black;
}
body .navbar {
  transition: all 0.4s;
}
body .navbar .nav-link {
  color: #fff;
}
body .navbar .nav-link:hover {
  color: #fff;
  text-decoration: none;
}
body .navbar .navbar-brand {
  color: #fff;
}
body .navbar .active {
  /* Change navbar styling on scroll */
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
body .navbar .active .nav-link {
  color: #555;
}
body .navbar .active .nav-link:hover {
  color: #555;
  text-decoration: none;
}
body .navbar .active .navbar-brand {
  color: #555;
}
body .preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
body #back-to-top-button {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
body #back-to-top-button::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  font-size: 2em;
  line-height: 50px;
  color: white;
}
body #back-to-top-button:hover {
  cursor: pointer;
  background-color: #f9c61c;
}
body #back-to-top-button:active {
  background-color: #555;
}
body #back-to-top-button .show {
  opacity: 1;
  visibility: visible;
}
body .pagination li a {
  background-color: white;
  color: black;
  border-color: #d4dadf;
}
body .pagination li a:focus, body .pagination li a:hover {
  color: black;
  background-color: #e8eaed;
  border-color: #d4dadf;
}
body .pagination .disabled a, body .pagination .disabled span {
  background-color: #dee2e6 !important;
  border-color: #d4dadf !important;
}
body .pagination .active span {
  color: white;
  background-color: black !important;
  border: solid 1px black !important;
}
body .material-icons {
  /* google material design icons */
  vertical-align: middle;
  line-height: 0 !important;
  position: relative;
  top: -3px;
  /* Rules for sizing the icon. */
}
body .material-icons .md-18 {
  font-size: 18px;
}
body .material-icons .md-24 {
  font-size: 24px;
}
body .material-icons .md-36 {
  font-size: 36px;
}
body .material-icons .md-48 {
  font-size: 48px;
}
body .material-icons .md-dark {
  /* Rules for using icons as black on a light background. */
  color: rgba(0, 0, 0, 0.54);
}
body .material-icons .md-dark .md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
body .material-icons .md-light {
  /* Rules for using icons as white on a dark background. */
  color: white;
}
body .material-icons .md-light .md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
body .btn .my-btn-white {
  background-color: white;
  color: black !important;
}
body .btn .my-btn-white:hover {
  background-color: black;
  border-color: white;
  color: white !important;
}
body .btn .my-btn-outline-white {
  border-color: white;
  color: white !important;
}
body .btn .my-btn-outline-white:hover {
  background-color: white;
  color: black !important;
}
body .btn .my-btn-outline-black {
  border-color: black;
  color: black !important;
}
body .btn .my-btn-outline-black:hover {
  background-color: black;
  color: white !important;
}
body .btn .my-btn-outline-yellow {
  border-color: #f9c61c;
  color: #f9c61c !important;
}
body .btn .my-btn-outline-yellow:hover {
  background-color: #f9c61c;
  color: black !important;
}
body .btn .my-bg-black {
  background-color: black;
}
body .btn .my-bg-gray {
  background-color: #e9ecef;
}
body .btn .my-text-yellow {
  color: #f9c61c;
}
body .my-link {
  color: #f9c61c;
}
body .my-link:hover, body .my-link:active, body .my-link:visited {
  color: #f9c61c;
}
body .my-link-no-style {
  color: white;
  text-decoration: none;
}
body .my-link-no-style:hover, body .my-link-no-style:active, body .my-link-no-style:visited {
  color: white;
  text-decoration: none;
}
body .collection-item {
  color: black;
  text-decoration: none;
}
body .collection-item:hover, body .collection-item:active, body .collection-item:visited {
  background-color: #eee;
  color: black;
  text-decoration: none;
}
body .clickable {
  cursor: pointer;
}
body .text-habibi {
  font-family: "Habibi", serif;
}